<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inspiration</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cabin&display=swap" rel="stylesheet">
</head>
<body>
    <main>
        <div class="image send">
            <img src="/static/img/received.svg">
        </div>
        <div class="inspiration-box">
            <h1>Message received!</h1>
            <p>Thank you for the love</p>
            <a href="/">< Back</a>
        </div>
        <div class="image received">
            <img src="/static/img/inbox.svg">
        </div>
    </main> 
   
</body>
</html>